<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>KBInputViewController</string>
		<key>classDesc</key>
		<string>自定输入控件</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBHomeLayoutViewController</string>
		<key>classDesc</key>
		<string>ScrollView</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBImageBrowerViewController</string>
		<key>classDesc</key>
		<string>图片浏览</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBMobilePhoneInputViewController</string>
		<key>classDesc</key>
		<string>手机号处理</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBCooaPodViewController</string>
		<key>classDesc</key>
		<string>私有库的使用</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBTextureViewController</string>
		<key>classDesc</key>
		<string>Texture的使用</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBGLPubSubViewController</string>
		<key>classDesc</key>
		<string>GLPubSub注意问题</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBWaterLayoutViewController</string>
		<key>classDesc</key>
		<string>瀑布流</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBStudy.KBSwiftViewController</string>
		<key>classDesc</key>
		<string>swift</string>
	</dict>
	<dict>
		<key>className</key>
		<string>KBCalendarViewController</string>
		<key>classDesc</key>
		<string>日历</string>
	</dict>
</array>
</plist>
